* {
    padding: 0;
    margin: 0;
}

:root {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    /* Untuk Chrome, Safari, dan Opera */
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    font-weight: 400;
}


body {
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

body.tidak-scroll {
    overflow: hidden;
    /* supaya tidak bisa scroll saat di halaman cover */
}

.container {
    text-align: center;
}

/* halaman pembuka */
#pembuka {
    position: fixed;
    transition: transform 1s ease-in-out;
    display: flex;
    /* background-image: url(../img/background/backround.png); */
    background-image: url(../../img/background/backround.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#pembuka::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    z-index: 2;
}

#pembuka.swipe-up {
  transform: translateY(-100%);
}


.selamat {
    color: white;
    z-index: 999;
    position: relative;
}

.selamat img{
    height: 200px;
}

.selamat h1 {
    text-align: center;
    z-index: 999;
    position: relative;
    font-size: 4rem;
    /* margin-bottom: 5rem; */
}

.lanjut {
    padding: .5rem 4.5rem;
    border: 0px solid;
    border-radius: 5px;
    background-color: yellow;

}

.lanjut:hover {
    background-color: rgb(255, 102, 0);
    transition: .3s ease-in-out;
}

.lanjut a {
    color: black;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    font-weight: 600;
}


/* halaman mempelai */
#mempelai {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(../../img/background/kedua-mempelai.jpg);
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    z-index: 1;
}

#mempelai::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    position: absolute;
    z-index: 2;
}

.kedua-mempelai{
    position: relative;
    z-index: 9999;
    color: white;
}

.kalender {
    padding: .5rem 5rem;
    background-color: rgb(255, 187, 0);
    border: 1px solid;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    border: 0px solid;
}

.kalender:hover{
    background-color: rgb(255, 51, 0);
    transition: .2s all ease-in-out;
}


.countdown-section {
    text-align: center;
    padding: 40px 20px;
    font-size: 1rem;
}

.countdown-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.countdown-box {
    border-radius: 10px;
    padding: 20px;
    min-width: 100px;
    background: #000000;
    backdrop-filter: blur(5px);
}

.countdown-box span {
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: rgb(255, 255, 255);
}

.countdown-box small {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    display: block;
}



/* halaman detail acara */
#detail-acara {
    display: flex;
    background-color: grey;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* halaman story love */
#story-love {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* halaman galery */
#galery-mempelai {
    display: flex;
    background-color: grey;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* halaman rsvp */
#rsvp {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* halaman doa doa */
#doa-doa {
    display: flex;
    background-color: grey;
    height: 100vh;
    align-items: center;
    justify-content: center;
}